In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
from pandas import ExcelFile

In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 KB 1.9 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\acer\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [14]:
file=pd.ExcelFile("D:/IGDTUW-D/College Years/3rd year/5th sem/ML_LAB/Dataset/10_aug_2023/BrazilCOVIDData.xlsx")

In [15]:
f1=pd.read_excel(file,"Brazil Covid-19 data")

In [17]:
# Q Q1. Is there any association between temperature COVID-19 transmission (response variable).
# Create a suitable visualization and explain.
f1.head()

,Region,State,Municipality,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125,2,1,0,0,NaN,NaN,NaN

In [19]:
f1.sort_values(by=['State-code','Date'])

,Region,State,Municipality,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
182,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225,0,0,0,0,NaN,NaN,NaN
183,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225,0,0,0,0,NaN,NaN,NaN
184,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225,0,0,0,0,NaN,NaN,NaN
185,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225,0,0,0,0,NaN,NaN,NaN
186,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-08-20,34,210147125,3501975,45323,112304,1204,2653407.0,736264.0,NaN
178,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-08-21,34,210147125,3532330,30355,113358,1054,2670755.0,748217.0,NaN
179,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-08-22,34,210147125,3582362,50032,114250,892,2709638.0,758474.0,NaN
180,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-08-23,35,210147125,3605783,23421,114744,494,2739035.0,752004.0,NaN
181,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-08-24,35,210147125,3622861,17078,115309,565,2778709.0,728843.0,NaN